

<div class=" row container-fluid">
  <div class="col-lg-3 mt-4"  >
    <div style="text-align: left;position:fixed;" >
      <div id="task_left">
        <div class="d-flex p-2" >
                 <span href=""><img class="avatar hoverCss" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPkBLFfRRAqhvBXaTLKR_AYOZinWVoeabDtA&usqp=CAU">
                     </span> <h5 class="hoverCss" style="margin-top: 20px; font-size: 35px; margin-left: 20px; font-weight: bold; color: #0b5ed7">Lisa</h5>
        </div>

        <div class="d-flex p-3 ">
        <a href=""><img class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt=""></a>
        <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">
          Bạn bè</h5>
      </div>
        <div class="d-flex p-3">
          <a href=""><img class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">
            Nhóm</h5>
        </div>
        <div class="d-flex p-3">
          <a href=""><img class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">
            Marketplace</h5>
        </div>
        <div  class="d-flex p-3">
          <a href=""><img  class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt=""> </a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">
            Watch</h5>
        </div>
        <div  class="d-flex p-3">
          <a href=""><img class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">Kỉ
            Niệm</h5>
        </div>
        <div  class="d-flex p-3">

          <a href=""><img class="hoverCss" src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/lVijPkTeN-r.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">Đã
            lưu</h5>
        </div>
        <div  class="d-flex p-3">
          <a href=""><img class="hoverCss"  src="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/kyCAf2jbZvF.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">
            Trang</h5>
        </div>
        <div  class="d-flex p-3">
          <a href=""><img class="hoverCss"  src="https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/qfMB40PdgWb.png" alt=""></a>
          <h5 class="hoverCss" style="margin-top: 10px; margin-left: 20px; font-weight: bold; color: #0b5ed7">Sự
            kiện</h5>
        </div>

      </div>
    </div>
  </div>


  <div class="col-lg-6 p-2">
    <div class=" row shadow p-3 "  style="border-radius: 15px">
      <div class="col-lg-2 img-fluid">
        <div class="card" style=" color: white" >
          <img  src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2019/11/20/767168/5Dd2bbeed3b9c.jpg" alt="">
          <div class="card-img-overlay">
                                  <span class="card-title">
                                  </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 img-fluid">
        <div class="card" style="border-radius: 15px">
          <img  src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2019/11/20/767168/5Dd2bbeed3b9c.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-2 img-fluid">
        <div class="card">
          <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVj6gSUjDdxgez1ozDARzE3szt2t0XNMV8-w&usqp=CAU" alt="">
        </div>
      </div>
      <div class="col-lg-2 img-fluid">
        <div class="card">
          <img  src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2019/11/20/767168/5Dd2bbeed3b9c.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-2 img-fluid">
        <div class="card" >
          <img src="https://www.elle.vn/wp-content/uploads/2020/06/13/404214/Rose-deo-day-chuyen-manh-@ROSE_FirstCN.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-2 img-fluid">
        <div class="card">
          <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn9DvCfhXPXb53cC_7uBpuzJDVwOaAWBrnww&usqp=CAU" alt="">
        </div>
      </div>
    </div>

    <div class=" row shadow-lg p-3 mt-4 " style="border-radius: 15px">
      <div class="d-flex col-lg-12">
        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPkBLFfRRAqhvBXaTLKR_AYOZinWVoeabDtA&usqp=CAU">
        <div class="w-100" style="margin-left: 5px; margin-top: 3px; border-radius: 22px">
          <textarea class="form-control text-capitalize" placeholder="Bạn đang nghĩ gì thế..." style="border-radius: 22px"></textarea>
        </div>
      </div>
      <div>
        <hr class="p2 mt-3" style="width: 99%; margin-left: 10px">
      </div>

      <div class="row ">
        <div class="col-lg-4 p-2 text-center ">
          <i class="fa-solid m-1 fa-video hoverCss" style="font-size: 30px; color: hotpink"></i>
          <span class="hoverCss" style="color: plum; font-weight: bolder">Video Trực Tiếp</span>
        </div>
        <div class="col-lg-4 p-2 text-center ">
          <i class="fa-solid m-1 fa-image hoverCss" style="font-size: 30px ; color: #0b5ed7"></i>
          <span class="m-0 hoverCss" style="color: plum; font-weight: bolder;">Ảnh/Video</span>
        </div>
        <div class="col-lg-4 p-2 text-center">
          <i class="fa-solid m-1 fa-gift hoverCss" style="font-size: 30px; color: rebeccapurple"></i>
          <span class="hoverCss" style="color: plum; font-weight: bolder; margin-bottom: 2px">Quà Tặng</span>
        </div>

      </div>
    </div>

    <div class="row shadow-lg p-3 mt-4" *ngFor="let l of listShow" style="border-radius: 15px">
      <div class="col-lg-1">
        <img class="avatar" src="{{l.avatar}}">

      </div>
      <div class="col-lg-11">
        <div class="ms-2">
          <div class="row m-0">
            <div class="col-lg-12">
              <p>{{l.userName}}</p>
            </div>
          </div>
          <div class="row  m-0">
            <div class="col-lg-12">
              <p class="hoverCss">{{l.time| date:"dd/MM/yyyy"}}</p>
            </div>
          </div>
        </div>
      </div>




      <div>
        <p>{{l.content}}</p>
      </div>
      <div class="img-fluid d-inline-block" >
           <img width="45%"  class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
           <img width="45%" class=" m-1 hoverCss" src="https://vtv1.mediacdn.vn/zoom/700_438/2022/9/25/1305418-1664092613121408970973-crop-1664092621648271734804.jpg" >
      </div>
      <div class="text-end">
        <span class="text-end p-2 m-0" style="font-size: 15px">2 bình luận</span>
      </div>

      <div class="row text-center">
        <div><hr class="m-0 p-0"></div>
        <div class="col-lg-4 p-2">
          <i class="fa-sharp fa-solid fa-thumbs-up hoverCss" style="font-size: 20px; color:#0b5ed7"></i>
          <span class="hoverCss" style="font-size: 15px">Thích</span></div>
        <div class="col-lg-4 p-2">
          <i class="fa-regular fa-message hoverIcon hoverCss" style="font-size: 20px" ></i>
          <span style="font-size: 15px"  class="hoverCss" >Bình Luận</span></div>
        <div class="col-lg-4 p-2">
          <i class="fa-sharp fa-solid fa-arrow-up-right-from-square hoverCss"
             style="font-size: 20px"></i>
          <span class="hoverCss" style="font-size: 15px">Gửi</span></div>
        <div><hr class="m-0 p-0"></div>
      </div>
      <div class="row text-center bg-gradient">
        <div class="col-lg-12 p-1"><p style="font-weight: bold; font-size: 20px; margin-top: 15px">Bình luận bị tắt cho bài viết này </p></div>
      </div>

    </div>



  </div>


  <div class="col-lg-3"></div>

</div>




