<div>
  <div class="container-fluid col-md-12 m-auto shadow"
       style="background-image: url('https://images.pexels.com/photos/1037999/pexels-photo-1037999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');color: white">
    <div class="col-md-6 m-auto">
      <form class="row m-auto mb-2">
        <div class="text-center mb-1">
          <h1 class="mt-1">Tìm Kiếm Nâng Cao</h1>
          <h6><b>@ Tìm kiếm theo tên , tuổi , công việc và sở thích</b></h6>
          <b>
            <hr class="col-md-8 m-auto" style="color: white">
          </b>
        </div>
        <div class="col-md-6 mb-2">
          <label class="form-label"><b>Họ và tên :</b></label>
          <input type="text" name="name" id="name" class="shadow-sm form-control"
                 placeholder="Nhập tên muốn tìm kiếm ....." [(ngModel)]="name" (input)="onSearch()">
        </div>
        <div class="col-md-3">
          <label class="form-label"><b>Năm Sinh : </b></label>
          <input type="text" name="dateOfBirth" class="shadow-sm form-control"
                 placeholder="Nhập năm sinh..." [(ngModel)]="dateOfBirth" (input)="onSearch()">
        </div>
        <div class="col-md-3">
          <label class="form-label"><b>Địa chỉ : </b></label>
          <input type="text" name="address" id="address"
                 class="shadow-sm form-control" placeholder="Nhập địa chỉ..." [(ngModel)]="address"
                 (input)="onSearch()">
        </div>
        <div class="col-md-3">
          <label class="form-label"><b>Sở thích :</b></label>
          <input type="text" name="hobbit" id="hobbit" class="shadow-sm form-control"
                 placeholder="Nhập sở thích..." [(ngModel)]="hobbitName" (input)="onSearch()">
        </div>
        <div class="col-md-3">
          <label class="form-label"><b> Việc làm :</b></label>
          <input type="text" name="job" id="job" class="shadow-sm form-control"
                 placeholder="Nhập công việc ..." [(ngModel)]="job" (input)="onSearch()">
        </div>
        <div class="col-md-3 mb-2">
          <label class="form-label"><b>Giới Tính :</b></label>
          <select name="gender" id="gender" class="shadow-sm form-select" [(ngModel)]="gender"
                  (ngModelChange)="onSearch()">
            <option value="" selected>Chọn giới tính</option>
            <option [ngValue]="0">Nữ</option>
            <option [ngValue]="1">Nam</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row row-cols-1 shadow row-cols-md-4 g-4 mt-2 m-auto p" *ngIf="flag">
    <div *ngFor="let item of users">
      <div class="cart">
        <div class="cart_img mt-1">
          <img [src]="item.avatar">
        </div>
        <div class="mt-4">
          <div class="col-md-12 m-auto" data-bs-toggle="tooltip" data-bs-placement="top"
               title="{{item.dateOfBirth}}"><h5>{{item.name}}</h5></div>
          <div class="col-md-12 m-auto"><i class="fa-sharp fa-solid fa-coins"></i><h6>{{item.coin}}</h6></div>
        </div>
        <div class="col-md-12 mt-3 d-flex">
          <div class="col-md-3"></div>
          <div class="col-md-2"><i class="fa-brands fa-twitter"></i></div>
          <div class="col-md-2"><i class="fa-brands fa-instagram"></i></div>
          <div class="col-md-2"><i class="fa-brands fa-facebook"></i></div>
          <div class="col-md-3"></div>
        </div>
        <div>
          <div>
            <button class="btn btn-outline-primary m-auto">Thêm bạn</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 shadow row-cols-md-4 g-4 mt-2 m-auto p" *ngIf="!flag">
    <div *ngFor="let item of users">
      <div class="cart">
        <div class="cart_img">
          <img [src]="item.avatar">
        </div>
        <div class="mt-5">
          <div class="col-md-12 m-auto mt-4"><h5>{{item.name}}</h5></div>
          <div class="col-md-12 m-auto"><h6>{{item.dateOfBirth}}</h6></div>
          <div class="col-md-12 m-auto"><i class="fa-sharp fa-solid fa-coins"></i><h6>{{item.coin}}</h6></div>
        </div>
        <div class="col-md-12 mt-3 d-flex">
          <div class="col-md-3"></div>
          <div class="col-md-2"><i class="fa-brands fa-twitter"></i></div>
          <div class="col-md-2"><i class="fa-brands fa-instagram"></i></div>
          <div class="col-md-2"><i class="fa-brands fa-facebook"></i></div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="checkSearchRequired" class="row col-md-8 m-auto text-center mt-5">
    <h3 style="color: pink"><i class="fa-solid fa-magnifying-glass" style="color: pink"></i> Dữ liệu cần tìm không có !
    </h3>
  </div>
  <!--  <div *ngIf="flag" class="bg-white">-->
  <!--   <div *ngFor="let user of users">-->
  <!--     <div class="d-flex">-->
  <!--       <div>-->
  <!--         <img src="{{user.avatar}}">-->
  <!--       </div>-->
  <!--       <div>-->
  <!--         <p class="text-dark">{{user.name}}</p>-->
  <!--       </div>-->
  <!--     </div>-->
  <!--   </div>-->
  <!--  </div>-->
</div>

<!--<p>fdsfsdfdsfds</p>-->
