<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="shortcut icon" href="img/logo.ico">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="reset-password.component.css">
</head>

<body>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Đổi mật khẩu</h1>
      <span>Thay đổi mật khẩu của bạn !</span>
      <input type="text" placeholder="Mật khẩu hiện tại "/>
      <input type="password" placeholder="Mật khẩu mới !"/>
      <input type="password" placeholder="Nhập lại mật khẩu mới !"/>
      <a href="#">Quên mật khẩu?</a>
      <button>Xác nhận</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Line Social !</h1>
        <p>Hẹn hò an toàn-hiệu quả</p>
        <p>Đăng kí miễn phí</p>
        <p>Trò chuyện dễ dàng</p>
        <button class="ghost" id="signUp">Trở lại</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

