<app-header></app-header>
<div class="body ">
  <div class="container-fluid">
    <div class="row p-5">
    </div>
  </div>
  <div class="m-3">
  <h1 style="text-align: center;color: black" >Danh sách bạn bè</h1>
  <div class="container-fluid mt-5 ">
    <div class="row function">
      <div class="col-lg-8">
        <button class="btn btn-outline-danger xoa " style="border-radius: 10px" (click)="deleteFriendList()"><b>Xóa bạn</b></button>
        <button class="btn btn-outline-primary chan" style="border-radius: 10px" (click)="blockFriendList()"><b>Chặn</b></button>
      </div>
      <div class="col-lg-4">
        <form class="d-flex" [formGroup]="searchForm" (submit)="search()">
          <input class="form-control me-2" type="search"  placeholder="  Tìm kiếm theo tên" aria-label="Search"
                 formControlName="name" id="name" >
          <button class="btn btn-outline-info" type="submit" style="margin-right: 30px" >Tìm</button>
        </form>
      </div>

    </div>
  </div>
  </div>
  <div class="row container-fluid">
    <div *ngFor="let l of listFriend" class="col-lg-3 col-md-4 col-sm-6 mt-2 ">
      <div class="cart m-auto">
        <div class="cart_img">
          <img [src]="l.avatar"
               alt="">
        </div>
        <div style="height: 150px">
          <h3>Bạn Bè</h3>
          <p>{{l.name}}</p>
          <p>{{l.age}} Tuổi</p>
          <div><button class="mt-1">Chat</button></div>
          <div> <button class="mt-1">Tặng quà</button></div><br>
         <div><div> <input class="form-check-input ms-5" type="checkbox" value="" id="flexCheckChecked1"
                           style="background-color: #f2726a" name="selectFriend" [checked]="checkbox(l.idUser)" (change)="checkList(l)" >
           <label class="form-check-label me-5  " for="flexCheckChecked1">
             <p>Chọn</p>
           </label></div></div>

        </div>

      </div>
    </div>
  </div>
  <div> <div class="col-12 text-center">
    <button class="btn btn-outline-secondary" (click)="more()">Xem thêm...</button>
  </div></div>
</div>
<app-footer></app-footer>
