
h4.text-center {
  font-family: revert;
  font-weight: 500;
  color: #2c7272;
}
tr:hover{
  cursor: pointer;
}

.modal-content {
  border-radius: 15px;
  background-color: #fffffd;
}

.name_member p {
  font-size: 18px;
  font-weight: bolder;
}

.scroller {
  width: 495px;
  height: 253px;
  overflow-y: scroll;
}

a.text-decoration-none {
  color: #1b1b1c;
  background-color: #c3eae7;
  padding: 2px 9px;
  border-radius: 3px;
  border: 1px solid rebeccapurple;
}

a.text-decoration-none:hover {
  color: #e8e8ee;
  background-color: #1d45b8;
  cursor: pointer;
}

span.text-info {
  font-family: sans-serif;
  font-weight: bolder;
  margin: 0 15px;
}
